<footer>
  <section>
    <p>
      <span id="part1">Tous droits réservés © LE BAS MOTEUR 2017</span>
      <span id="part2">
        <a href="#"><img src="../assets/img/fb.png" alt=""></a>
        <a href="#"><img src="../assets/img/tw.png" alt=""></a>
        <a href="#"><img src="../assets/img/insta.png" alt=""></a>
        <a href="#"><img src="../assets/img/gplus.png" alt=""></a>
      </span>
      <span id="part3">
        Place de l’étoile - 67000 Strasbourg
      </span>
    </p>
  </section>
</footer>
