<!--<div>
  <img id="logo" src="../assets/img/logo.png" alt="Logo">
  <nav class="large-12 small-12 medium-12">
    <ul class="menu">
      <li><a href="#">Accueil</a></li>
      <li><a href="#">Qui ?</a></li>
      <li><a href="#">Quoi ?</a></li>
      <li><a href="#">Où et quand ?</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</div>
-->

<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <!-- Toggle button -->

    <a href="#" class="left-off-canvas-toggle">Toggle menu</a>

    <!-- Offcanvas button -->

    <aside class="left-off-canvas-menu">
      <ul class="no-bullet">
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Qui ?</a></li>
        <li><a href="#">Quoi ?</a></li>
        <li><a href="#">Où et quand ?</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </aside>
    <!-- Main content -->

    <div class="row">
      <div class="medium-6 columns bg-2">

      </div>
    </div>

    <!-- Exit overlay -->
  </div>
</div>
