footer {
  width: 100%;
  height: 60px;
  background-color: #343434;
  color: white;
  padding-top: 15px;
  text-align: center;

  #part1 {
    margin-right: 300px;
  }

  #part3 {
    margin-left: 300px;
  }
}
