.formules {
  margin-top: -60px;
  height: 1150px;
  width: auto;
  background-color: #343434;

  .formules img {
    position: relative;
  }

  h2 {
    font-size: 60px;
    font-family: 'Bungee', cursive;
    color: white;
    margin-left: 50px;
    margin-top: -220px;
    margin-bottom: 50px;
  }
}

section #li-menu
{
  box-shadow: 5px 10px 50px 10px black;
  height: 930px;
  background-color: #343434;
  position: relative;
}
