.quand-et-ou {
  margin-top: -60px;
  height: 670px;
  width: auto;
  background-color: #343434;

  .quand-et-ou img {
    position: relative;
  }

  h2 {
    font-size: 60px;
    font-family: 'Bungee', cursive;
    color: white;
    margin-left: 50px;
    margin-top: -220px;
    margin-bottom: 50px;
  }
}

section #quand-ou
{
  box-shadow: 5px 10px 50px 10px black;
  height: 450px;
  background-color: #a12828;
  position: relative;

  h3 {
    font-size: 30px;
    font-family: 'Bungee', cursive;
    color: #f2d5b3;
    padding-top: 30px;
    padding-left: 30px;
  }

  p {
    padding-top: 20px;
    font-size: 20px;
    color: white;
    width: 650px;
    margin-left: 50px;
    font-family: 'Arvo', serif;
  }
}

@media screen and (min-width: 300px) and (max-width: 640px) {
  .quand-et-ou {
    height: 720px;

    h2 {
      font-size: 50px;
      margin-top: -90px;
    }

  }

  section #quand-ou
  {
    height: 500px;

    h3 {
      font-size: 30px;
    }

    p {
      padding-top: 40px;
      margin-left: 50px;
      width: 450px;
    }
  }
}

@media screen and (max-width: 400px) {
  .quand-et-ou {
    height: 700px;

    h2 {
      font-size: 40px;
      margin-left: 50px;
      margin-top: -80px;
    }

  }

  section #quand-ou
  {
    height: 500px;

    h3 {
      font-size: 30px;
    }

    p {
      padding-top: 40px;
      margin-left: 10px;
      width: 350px;
    }
  }
}
